
<form [formGroup]="histForm" (ngSubmit)="onAdd(histForm.value)">
	<!-- <div class="card-content"> -->
		<div class="row justify-content-md-between">
			<div class="form-group col-md-4">
				<label class="control-label">Nom Client
					<span class="star" style="color: red;">*</span>
				</label>
				<input class="form-control" name="nomClient" id="nomClient" type="text" formControlName="nomClient" required="true"/>
			</div>
			<div class="form-group col-md-4">
				<label class="control-label">Nops
					<span class="star" style="color: red;">*</span>
				</label>
				<input class="form-control" name="nops" type="text" formControlName="nops" id="nops" required="true"/>
			</div>
			<div class="form-group col-md-4">
				<label class="control-label">designation
					<span class="star" style="color: red;">*</span>
				</label>
				<input class="form-control" name="designation" type="text" formControlName="designation" id="designation" required="true"/>
			</div>
		</div>
		<div class="row justify-content-md-between">
			<div class="form-group col-md-4">
				<label class="control-label">montant HT
					<span class="star" style="color: red;">*</span>
				</label>
				<input class="form-control" name="montant HT" type="number" formControlName="montantHT" id="montant HT" required="true"/>
			</div>
			<div class="form-group col-md-4">
				<label class="control-label">montant TVA
					<span class="star" style="color: red;">*</span>
				</label>
				<input class="form-control" name="montant TVA" type="number" formControlName="montantTVA" id="montant TVA" required="true"/>
			</div>
			<div class="form-group col-md-4">
				<label class="control-label">montant TTC
					<span class="star" style="color: red;">*</span>
				</label>
				<input class="form-control" name="montant TTC" type="number" formControlName="montantTTC" id="montant TTC" required="true"/>
			</div>

		</div>
		<div class="row justify-content-md-between">
			<div class="form-group col-md-4">
				<label class="control-label">Quantite
					<span class="star" style="color: red;">*</span>
				</label>
				<input class="form-control" name="quantite" type="number" formControlName="quantite" id="quantite" required="true"/>
			</div>
			<div class="form-group col-md-4">
				<label class="control-label">Num cheque
					<span class="star" style="color: red;">*</span>
				</label>
				<input class="form-control" name="ncheque" type="text" formControlName="ncheque" id="ncheque" required="true"/>
			</div>
			<div class="form-group col-md-4">
				<label class="control-label">Num ticket
					<span class="star" style="color: red;">*</span>
				</label>
				<input class="form-control" name="nticket" type="text" formControlName="nticket" id="nticket" required="true"/>
			</div>
		</div>
		<div class="row justify-content-md-between">
			<div class="form-group col-md-4">
				<label class="control-label">Date
					<span class="star" style="color: red;">*</span>
				</label>
				<input class="form-control" name="date" id="date" type="datetime-local" formControlName="datee" required="true"/>
			</div>
			<div class="form-group col-md-4" style="padding: 1% 1% 0 1.5%;">
				<mat-form-field class="max">
					<mat-label>Caissier</mat-label>
					<mat-select formControlName="caissier">
						<mat-option *ngFor="let caisse of caisses" [value]="caisse.nomCaisse">{{caisse.nomCaisse}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="form-group col-md-4" style="padding: 1% 1% 0 1.5%;">
				<mat-form-field class="max">
					<mat-label>Mode de Paiement</mat-label>
					<mat-select formControlName="modePaiement">
						<mat-option value="Cash">Cash</mat-option>
						<mat-option value="Check">Check</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div class="category form-category">
			<span class="star" style="color: red;">*</span> Required fields
		</div>
		<div class="text-center">
			<button type="submit" class="btn btn-outline-danger btn-fw">
			  {{ action === 'Ajouter' ? 'Ajouter' : 'Modifier' }}
			</button>
		  </div>

	<!-- </div> -->
</form>