
<form [formGroup]="clientForm" (ngSubmit)="onAdd(clientForm.value)">
	<!-- <div class="card-content"> -->
		<div class="row justify-content-md-between">
			<div class="form-group col-md-4">
				<label class="control-label">Code
					<span class="star" style="color: red;">*</span>
				</label>
				<input class="form-control" name="code" id="code" type="text" formControlName="code" required="true"/>
			</div>
			<div class="form-group col-md-4">
				<label class="control-label">Categorie Client
					<span class="star" style="color: red;">*</span>
				</label>
				<input class="form-control" name="categorieClient" id="categorieClient" type="text" formControlName="categorieClient" required="true"/>
			</div>
			<div class="form-group col-md-4">
				<label class="control-label">intitule
					<span class="star" style="color: red;">*</span>
				</label>
				<input class="form-control" name="intitule" id="intitule" type="text" formControlName="intitule" required="true"/>
			</div>
		</div>
		<div class="row justify-content-md-between">
			<div class="form-group col-md-4">
				<label class="control-label">Adresse
					<span class="star" style="color: red;">*</span>
				</label>
				<input class="form-control" name="adresse" id="adresse" type="text" formControlName="adresse" required="true"/>
			</div>
			<div class="form-group col-md-4">
				<label class="control-label">telephone
					<span class="star" style="color: red;">*</span>
				</label>
				<input class="form-control" name="telephone" id="telephone" type="text" formControlName="telephone" required="true"/>
			</div>
			<div class="form-group col-md-4">
				<label class="control-label">Fax
					<span class="star" style="color: red;">*</span>
				</label>
				<input class="form-control" name="fax" id="fax" type="text" formControlName="fax" required="true"/>
			</div>
		</div>
		<div class="row justify-content-md-between">
			<div class="form-group col-md-6">
				<label class="control-label">Email
					<span class="star" style="color: red;">*</span>
				</label>
				<input class="form-control" name="email" id="email" type="text" formControlName="email" required="true"/>
			</div>
			<div class="form-group col-md-6">
				<label class="control-label">contactClient
					<span class="star" style="color: red;">*</span>
				</label>
				<input class="form-control" name="contactClient" id="contactClient" type="text" formControlName="contactClient" required="true"/>
			</div>
		</div>
		<div class="category form-category">
			<span class="star" style="color: red;">*</span> Required fields
		</div>
		<div class="text-center">
			<button type="submit" class="btn btn-outline-danger btn-fw">
			  {{ action === 'Ajouter' ? 'Ajouter' : 'Modifier' }}
			</button>
		  </div>
</form>

