<mat-stepper linear animationDuration="400">
	<mat-step>
		<ng-template matStepLabel>Demande choix d'Article et Client</ng-template>
		<div class="container">
			<form [formGroup]="venteForm" (ngSubmit)="onAdd(venteForm.value)">
				<!-- <div class="card-content"> -->
					<div class="row justify-content-md-between">
						<div class="form-group col-md-4">
							<mat-form-field class="max">
								<mat-label>Client</mat-label>
								<mat-select formControlName="client">
									<mat-option *ngFor="let client of clients" [value]="client.clientId">
										{{ client.contactClient }}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="form-group col-md-4">
							<mat-form-field class="max">
								<mat-label>Artcle</mat-label>
								<mat-select formControlName="article">
									<mat-option *ngFor="let article of articles" [value]="article.idArticle">
										{{ article.designation }}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="form-group col-md-4">
							<mat-form-field class="max">
								<mat-label>categorie Article</mat-label>
								<mat-select formControlName="categorie">
									<mat-option *ngFor="let categorie of categories" [value]="categorie.idCategorie">
										{{ categorie.nomCategorie }}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
					</div>
					<div class="row justify-content-md-between">
						<div class="form-group col-md-4">
							<label class="control-label">Quantite
								<span class="star" style="color: red;">*</span>
							</label>
							<input class="form-control" name="quantite" id="quantite" type="number" formControlName="quantite" required="true"/>
						</div>
						<div class="form-group col-md-4">
							<label class="control-label">Prix Unitaire
								<span class="star" style="color: red;">*</span>
							</label>
							<input class="form-control" name="price" id="price" type="number" formControlName="prixUnitaireHT" required="true"/>
						</div>
						<!-- <div class="form-group col-md-4">
							<mat-form-field class="max test">
								<mat-label>Mode de Paiement</mat-label>
								<mat-select formControlName="modeDePaiement">
									<mat-option *ngFor="let modeDePaiement of modeDePaiements" [value]="modeDePaiement.idModePaiement">
										{{ modeDePaiement.typePaiement }}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div> -->
					</div>
					<div class="category form-category">
						<span class="star" style="color: red;">*</span> Required fields
					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-outline-danger btn-fw" matStepperNext>
						  Selectionner
						</button>
					  </div>

				<!-- </div> -->
			</form>
		</div>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>Créer nouvel encaissement</ng-template>
		<div id="pdf">
			<div class="container">
				<div class="card mt-3">
				  <div class="card-header"> Facture <strong>{{dateVente}}</strong> <span class="float-end"> <strong>Status:</strong> Valid </span> </div>
				  <div class="card-body">
					<div class="row mb-5">
					  <div class="mt-4 col-xl-3 col-lg-3 col-md-6 col-sm-12">
						<h6>De:</h6>
						<div> <strong>Societe</strong> </div>
						<div>Moroc</div>
						<div>Adress</div>
						<div>Email: test@example.com</div>
						<div>Phone: +212 643 434 555</div>
					  </div>
					  <div class="mt-4 col-xl-3 col-lg-3 col-md-6 col-sm-12" *ngIf="client">
						<h6>à:</h6>
						<div> <strong>{{client.nomComplet}}</strong> </div>
						<div>Maroc</div>
						<div>{{client.adresse}}</div>
						<div>Email: {{client.email}}</div>
						<div>Phone: {{client.telephone}}</div>
					  </div>
					  <div class="mt-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex justify-content-lg-end justify-content-md-center justify-content-xs-start">
						<div class="row align-items-center" style="font-size: 0.9rem;">
						  <div class="col-auto"> <img [src]="qrCodeImage" alt="" *ngIf="qrCodeImage"> </div>
						</div>
					  </div>
					</div>
					<div class="row" *ngIf="formData">
					  <div class="col-lg-4 col-sm-5"> </div>
					  <div class="col-lg-5 col-sm-6">
						<table class="table table-clear">
						  <tbody>
							<tr>
							  <td class="left"><strong> Total </strong></td>
							  <td class="right"> {{ formData.montantTotalHT }} DH</td>
							</tr>
							<tr>
							  <td class="left"><strong>TVA (20%)</strong></td>
							  <td class="right">{{ (formData.montantTotalHT * 0.2).toFixed(2)}}</td>
							</tr>
							<tr>
							  <td class="left"><strong>Total</strong></td>
							  <td class="right"><strong>{{ formData.montantTotalHT + (formData.montantTotalHT * 0.2).toFixed(2)}} DH</strong><br></td>
							</tr>
						  </tbody>
						</table>
					  </div>
					</div>
				  </div>
				</div>
			</div>
		</div>
		<div class="text-center"><button type="submit" class="btn btn-outline-danger btn-fw" matStepperNext (click)="downloadAsPdf('pdf')">Finalise Vente</button></div>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>Générer facture</ng-template>
		<strong> La facture a ete envoye par email </strong>
		<div>
			<button mat-button matStepperPrevious>Back</button>
			<!-- <button mat-button>Reset</button> -->
		</div>
	</mat-step>
</mat-stepper>