
<form [formGroup]="departementForm" (ngSubmit)="onAdd(departementForm.value)">
	<!-- <div class="card-content"> -->
		<div class="row justify-content-md-between">
			<div class="form-group col-md-6">
				<label class="control-label">Departement
					<span class="star" style="color: red;">*</span>
				</label>
				<input class="form-control" name="departement" id="departement" type="text" formControlName="departement" required="true"/>
			</div>
			<div class="form-group col-md-6" style="padding: 1% 1% 0 1.5%;">
				<mat-form-field class="max">
					<mat-label>Type Departement</mat-label>
					<mat-select formControlName="typeDepartement">
						<mat-option *ngFor="let typedepartement of typeDepartements" [value]="typedepartement.typeDepartement_id">{{typedepartement.libelle}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div class="row justify-content-md-between">
			<div class="form-group col-md-6" style="padding: 1% 1% 0 1.5%;">
				<mat-form-field class="max">
					<mat-label>Responsable</mat-label>
					<mat-select formControlName="responsable">
						<mat-option *ngFor="let respo of responsables" [value]="respo.userId">{{respo.nomUser}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="form-group col-md-6" style="padding: 1% 1% 0 1.5%;">
				<mat-form-field class="max">
					<mat-label>Parent</mat-label>
					<mat-select formControlName="departementParent">
						<mat-option *ngFor="let dep of departements" [value]="dep.departement_id">{{dep.departement}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div class="category form-category">
			<span class="star" style="color: red;">*</span> Required fields
		</div>
		<div class="text-center">
			<button
			  *ngIf="action === 'Modifier'"
			  type="submit"
			  class="btn btn-primary"
			  [mat-dialog-close]="true"
			  cdkFocusInitial
			>
			  {{ action }}
			</button>
			<button *ngIf="action === 'Ajouter'" type="submit" class="btn btn-primary">
			  {{ action }}
			</button>
		  </div>

	<!-- </div> -->
</form>

