@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";
:root {
  --primary-bg-color: #007bff;      /* Dark blue, suitable for headings and primary elements */
  --secondary-bg-color: #17a2b8;    /* Teal, for buttons and highlights */
  --background-color: #f8f9fa;      /* Light gray, for background */
  --text-color: #343a40;            /* Dark gray, for text */
  --success-color: #28a745;         /* Green, for success or positive feedback */
}

  .primary-text {
    color: var(--main-text-color);
  }

  .second-text {
    color: var(--second-text-color);
  }

  .primary-bg {
    background-color: var(--main-bg-color);
  }

  .secondary-bg {
    background-color: var(--second-bg-color);
  }

  .rounded-full {
    border-radius: 100%;
  }


  #wrapper {
    overflow-x: hidden;
    background-color: #F5F7FF;
  }


  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }

  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }

  #sidebar-wrapper .list-group {
    width: 15rem;
  }

  #page-content-wrapper {
    min-width: 100vw;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }

  #menu-toggle {
    cursor: pointer;
  }

  .list-group-item {
    /* border: none; */
    padding: 20px 30px;
  }

  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }

  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }

    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
