@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
  --primary-bg-color: #007bff;      /* Dark blue, suitable for headings and primary elements */
  --secondary-bg-color: #17a2b8;    /* Teal, for buttons and highlights */
  --background-color: #f8f9fa;      /* Light gray, for background */
  --text-color: #343a40;            /* Dark gray, for text */
  --success-color: #28a745;
	--select2-single-height: 50px;
  --select2-selection-border-color: #dee2e6;
  --select2-selection-border-radius: 0.5rem;
  --select2-arrow-color: #000;
  --select2-selection-choice-hover-close-color: #dee2e6;
    --select2-option-highlighted-background: #9ab7e6;
    --select2-selection-focus-border-color: #dee2e6;
  /* Green, for success or positive feedback */


  --primary-color: #272727;
  --text: white;
  --white: #FFFFFF;
  --sidebar-primary: #605DFF;
  --sidebar-primary-light: #5DA8FF;
  --sidebar-primary-hover: #605DFF10;
  --sidebar-background: #FCFCFD;
  --background: #F1F3FF;
  --text-link: #424662;
  --headline: #7686BC;
  --cta-background: #EBF3FF;
  --cta-background-darker: #CFD5FF;
  --cta-background-border: #CDD2F3;
  --cta-text: #1C2035;
  --neutral: #E6E8F0;
  --expand-button: #4A516D;
  --logout: #FA7575;
  --text: #303651;
  --text-lighter: #697089;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #C7D2DC;
  font-size: 16px;
  padding: 16px;
  height: 100%;
}

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dark-theme {
  --primary-bg-color: #121212; /* Dark background color */
  --secondary-bg-color: #1E1E1E; /* Darker background color */
  --background-color: #000; /* Darkest background color */
  --text-color: #ffffff; /* White text color for dark mode */
  --success-color: #28a745; /* Green for success or positive feedback */
}

  .primary-text {
    color: var(--main-text-color);
  }

  .second-text {
    color: var(--second-text-color);
  }

  .primary-bg {
    background-color: var(--main-bg-color);
  }

  .secondary-bg {
    background-color: var(--second-bg-color);
  }

  .rounded-full {
    border-radius: 100%;
  }


  #wrapper {
    overflow-x: hidden;
    background-color: #F5F7FF;
  }


  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }

  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }

  #sidebar-wrapper .list-group {
    width: 15rem;
  }

  #page-content-wrapper {
    min-width: 100vw;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }

  #menu-toggle {
    cursor: pointer;
  }

  .list-group-item {
    /* border: none; */
    padding: 20px 30px;
  }

  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }

  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }

    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: initial;
  height: 100%;
}
